@if (machines is null) {
    <MachineListSkeleton />
} else if (machines.Count == 0)
{
    <div class="hero py-6 min-h-auto">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h4 class="text-5xl">All quiet...</h4>
                <p class="py-5">
                    Added machines will show up here.
                </p>
                <button class="btn btn-primary">Add a Machine</button>
            </div>
        </div>
    </div>
} else {
    <div class="flex w-full justify-between">
        <h3 class="text-lg">Machines</h3>
        <button class="btn btn-primary btn-sm">
            <PlusIcon />
            Add Machine
        </button>
    </div>
    <div class="overflow-x-auto">
        <Table>
            <TableHeader>
                <MachineListTableHeader />
            </TableHeader>
            <TableBody>
                @foreach (var machine in machines) 
                {
                    <MachineListTableRow
                        @key="machine.Id"
                        Title="@machine.Name"
                        SubTitle="@machine.Id.ToString()"
                        Status="@machine.Status"
                        LastData="@machine.LastData"
                        LastUpdated="@machine.LastUpdated"
                    >
                        <Actions>
                            <div class="flex gap-2">
                                @if (machine.Status.IsRunning) {
                                    <button class="btn" disabled="@(!machine.Status.IsOnline)" @onclick="() => StopMachine(machine.Id)">
                                        Stop
                                    </button> 
                                } else {
                                    <button class="btn" disabled="@(!machine.Status.IsOnline)" @onclick="() => StartMachine(machine.Id)">
                                        Start
                                    </button>
                                }
                                <MachineConnectivityButton IsOnline="machine.Status.IsOnline" OnClick="() => machine.Status.IsOnline ? DisconnectMachine(machine.Id) : ConnectMachine(machine.Id)" />
                                <button class="btn btn-square btn-soft hover:bg-red-500/20 hover:border-red-400 hover:text-red-400">
                                    <TrashIcon />
                                </button>
                            </div>
                        </Actions>
                    </MachineListTableRow>
                }
            </TableBody>
        </Table>
    </div>
}