<tr>
    <td>
        <div class="flex-1">
            <div class="flex justify-between">
                <h4 class="@TexCellTruncationStyles">@Title</h4><p>@Type</p>
            </div>
            <p class="text-xs text-nowrap text-base-content/50 @TexCellTruncationStyles">
                @SubTitle
            </p>
        </div>
    </td>
    <td>
        <div class="badge badge-soft badge-@(Status.IsOnline ? "success" : "neutral")">
            @Status.ToString()
        </div>
    </td>
    <td>
        <div class="text-nowrap">
            @LastData
        </div>
    </td>
    <td>@LastUpdated</td>
    <td>
        @Actions
    </td>
</tr>

@code {
    const string TexCellTruncationStyles = "max-w-24 sm:max-w-80 w-full overflow-hidden text-ellipsis";
}