@page "/" 
@using MachineSystem.Client.Components 
@using MachineSystem.Client.Components.Table

<PageTitle>Dashboard</PageTitle>

<header class="p-2 mb-2">
  <h2 class="text-xl">Dashboard</h2>
  <p class="text-sm text-base-content/50">Overview of connected Machines</p>
</header>
<main>
  <div class="sm:flex w-full gap-2">
    <div
      class="w-full sm:w-1/3 bg-base-100 p-2 mb-2 sm:mb-0 rounded-box shadow-sm"
    >
      <h3 class="text-lg">Stats</h3>
    </div>
    <div class="w-full sm:w-2/3 bg-base-100 p-2 rounded-box shadow-sm">
        
        @if (machines.Count == 0) 
        {
            <div class="hero py-6 min-h-auto">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h4 class="text-5xl">All quiet...</h4>
                        <p class="py-5">
                            Added machines will show up here.
                        </p>
                        <button class="btn btn-primary">Add a Machine</button>
                    </div>
                </div>
            </div>
        } else {
            <div class="flex w-full justify-between">
                <h3 class="text-lg">Machines</h3>
                <button class="btn btn-primary btn-sm">
                    <svg 
                        class="h-5 w-5" 
                        viewBox="0 0 640 640"
                        fill="currentColor"
                    >
                        <path d="M352 128c0-17.7-14.3-32-32-32s-32 14.3-32 32v160H128c-17.7 0-32 14.3-32 32s14.3 32 32 32h160v160c0 17.7 14.3 32 32 32s32-14.3 32-32V352h160c17.7 0 32-14.3 32-32s-14.3-32-32-32H352z"/>
                    </svg>
                Add Machine
                </button>
            </div>
            <div class="overflow-x-auto">
                <Table>
                    <TableHeader>
                        <MachineListTableHeader />
                    </TableHeader>
                    <TableBody>
                        @foreach (var machine in machines) 
                        {
                            <MachineListTableRow
                                Title="@machine.Name"
                                SubTitle="@machine.Id.ToString()"
                                Status="@machine.Status"
                                LastData="@machine.LastData"
                                LastUpdated="@machine.LastUpdated"
                            >
                                <Actions>
                                    <div class="flex gap-2">
                                        <button class="btn">@(machine.Status == MachineStatus.Online ? "Stop" : "Start")</button>
                                        <button class="btn btn-square hover:bg-error">
                                            <svg 
                                                xmlns="http://www.w3.org/2000/svg" 
                                                class="h-5 w-5" 
                                                viewBox="0 0 640 640"
                                                fill="currentColor"
                                            >
                                                <path
                                                    d="M232.7 69.9L224 96L128 96C110.3 96 96 110.3 96 128C96 145.7 110.3 160 128 160L512 160C529.7 160 544 145.7 544 128C544 110.3 529.7 96 512 96L416 96L407.3 69.9C402.9 56.8 390.7 48 376.9 48L263.1 48C249.3 48 237.1 56.8 232.7 69.9zM512 208L128 208L149.1 531.1C150.7 556.4 171.7 576 197 576L443 576C468.3 576 489.3 556.4 490.9 531.1L512 208z" />
                                            </svg>
                                        </button>
                                    </div>
                                </Actions>
                            </MachineListTableRow>
                        }
                    </TableBody>
                </Table>
            </div>
        }
    </div>
  </div>
</main>
